<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel='shortcut icon' type='image/png' href='/images/favicon.png'>
  <title>Weather App</title>
</head>
<body>
  <div class="app">
    <div class="topbar">
      <div class="greeting">
        Hello {{username}}! You visited this page {{counter}}, last login was on {{lastVisit}}
      </div>
    </div>

    <div class="container">
      <div class="options">
        <label for="service-select">Service</label>
        <select id="service-select">
          <option value="none" selected disabled>Select service</option>
          <option value="openweather">OpenWeather</option>
          <option value="weatherbit">WeatherBit</option>
          <option value="weatherstack">WeatherStack</option>
        </select>
        <label for="time-select">Time range</label>
        <select id="time-select">
          <option value="none" selected disabled>Select range</option>
          <option value="1">Today</option>
          <option value="3">Last 3 days</option>
          <option value="7">Last week</option>
        </select>
        <button type="button" class="btn" id="load-data">Load</button>
        <label for="city-select">City</label>
        <select id="city-select">
          <option value="none" selected disabled>Select city</option>
          <option value="warszawa">Warszawa</option>
          <option value="lodz">Łódź</option>
          <option value="wroclaw">Wrocław</option>
          <option value="szczecin">Szczecin</option>
          <option value="rzeszow">Rzeszów</option>
          <option value="krakow">Kraków</option>
          <option value="gdansk">Gdańsk</option>
          <option value="suwalki">Suwałki</option>
        </select>
        <button type="button" class="btn" id="load-city">Load city</button>
      </div>
      <div class="results">
        
      </div>
    </div>

  </div>
  <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
  integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
  <script src="/scripts/index.js"></script>
</body>
</html>