<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel='shortcut icon' type='image/png' href='/images/favicon.png'>
  <title>Weather - login</title>
</head>
<body>
  <div class="login-container">
    <div class="left">
      <h1>Login</h1>
      <p>
        <label for="nick-form">Nickname</label>
      </p>
      <p>
        <input type="text" id="nick-form">
      </p>
      <p>
        <label for="password-form">Password</label>
      </p>
      <p>
        <input type="password" id="password-form">
      </p>
      <button type="button" id="login" class="btn">Login</button>
      <p>
        or
      </p>
      <h1>Register</h1>
      <p>
        <label for="nick-form-register">Nickname</label>
      </p>
      <p>
        <input type="text" id="nick-form-register">
      </p>
      <p>
        <label for="password-form-register">Password</label>
      </p>
      <p>
        <input type="password" id="password-form-register">
      </p>
      <p>
        <label for="password-form-register2">Repeat password</label>
      </p>
      <p>
        <input type="password" id="password-form-register2">
      </p>
      <button type="button" id="register" class="btn">Sign up</button>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
  <script src="/scripts/login.js"></script>
</body>
</html>