body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.btn {
  border: 0px;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 14px;
  padding: 5px 30px;
  background-color: #F290AD;
}

.login-container {
  background-image: url(/images/sky.jpeg);
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  position: relative;
  .left {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 35%;
    min-width: 400px;
    background-color: rgba($color: #b5b5b5, $alpha: 0.3);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    padding: 30px;
    border-right: 1px solid #929292;
    box-shadow: -1px 0px 20px #a1a1a1;
    text-align: center;
    color: white;
    overflow-y: auto;
    input {
      width: 50%;
      border: 1px solid gray;
      border-radius: 15px;
      outline: none;
      height: 30px;
      background-color: rgba(white, 0.3);
      padding: 5px 10px;
    }
  }
}